librosa
fairseq==0.12.2
ffmpeg-python
Flask
Flask_Cors
gradio
numpy
playsound
PyAudio
pydub
pyworld
requests
scipy
sounddevice
SoundFile
starlette
tqdm
rich
loguru
torchcrepe
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
tensorboard
tensorboardX
transformers
edge_tts
langdetect
pyyaml
pynvml
faiss-cpu
